<!-- Home Page -->


{% extends 'seavs/base.html' %}
{% load static %}
{% block content %}
<section id="title">


  <div class="container-fluid">
    <h1 class="heading" style="font-family: 'Lobster', cursive;">Welcome to Sea-Vs</h1>
    <p class="titlepara">
      Hello {%if user.is_authenticated%}
      {{user.username}},
      {%else%}
      mate,
      {%endif%}
      use Sea-Vs and make yourself a resume for your next interview. Let's get going!

    </p>
    <p class="wrapper">
      <a href="{% url 'personal' %}" class="btn btn-lg titlebutton "><strong>Create CV</strong></a>
    </p>

  </div>
</section>
<section id=features>

  <div class="container-fluid">


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Create your CV.</h2>
        <p class="lead">It's never been this easy. Just enter your details and get yourself a CV.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{%static 'feature1.png'%}" aria-label="Placeholder: 500x500">
        <title>Placeholder</title>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Store your templates.</h2>
        <p class="lead">You can store your templates for future use and can update, delete and do it for many different CVs.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{%static 'feature2.png'%}" aria-label="Placeholder: 500x500">
        <title>Placeholder</title>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, get templates.</h2>
        <p class="lead">Ya! You can choose from the various templates we provide.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{%static 'feature3.png'%}" aria-label="Placeholder: 500x500">
      </div>
    </div>

    <hr class="featurette-divider">
  </div>
</section>





{% endblock content %}
