{% extends 'seavs/base.html' %}
{% block content %}
<section>
  <div class="container-fluid sidetitle">
  <button type="button" class="button btn btn-light btn-lg button"><a href="personal">Add Personal Details
  </a></button><br>
  <button type="button" class="button btn btn-light btn-lg button"><a href="education/">Add Education
  </a></button><br>
  <button type="button" class="button btn btn-light btn-lg button"><a href="experiences/">Create your CV
  </a></button><br>

  </div>
</section>
{% endblock content %}
