<!-- Page which takes in Educational Details -->

{% extends 'seavs/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid sidetitle">
  <div class="row">
    <div class="col-6">
      <h1 class="subheading">Add your Educational Details</h1>
      <h6>Want to go back? <a href="http://localhost:8000/addcv/">Click Here!</a></h6>
    </div>
    <div class="col-6">
      <form method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-12" name="firstname">
              {{ form.institute|as_crispy_field }}
            </div>
            <div class="col-12">
              {{ form.course|as_crispy_field}}
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              {{ form.startingyear|as_crispy_field }}
            </div>
            <div class="col-6">
              {{ form.endingyear|as_crispy_field }}
            </div>
            <div class="col-12">
              {{ form.grade|as_crispy_field }}
            </div>
          </div>
          <button type="submit" class="btn" style="color: #f8efd4; background-color: #2ec1ac;border-color: #2ec1ac">Next</button>
      </form>
    </div>
  </div>
</div>


{%endblock content %}
