{% extends 'seavs/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  {% for content in contents %}
  <div class="card-body" style="background-color:#fff">
    <h5 class="card-title">{{content.institute}}</h5>
    <small class="text-muted"> {{content.startingyear}} - {{content.endingyear}} </small>
    <p class="card-text">Course: {{content.course}}</p>
    <p class="card-text">Grade: {{content.grade}}</p>
    {% endfor %}
    <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
  </div>


  <div class="container-fluid">
    {% for exp in experiences %}
    <div class="card-body" style="background-color:#fff">
      <h5 class="card-title">{{exp.company}}</h5>
      <small class="text-muted"> {{exp.startingyear}} - {{exp.endingyear}} </small>
      <p class="card-text">Course: {{exp.post}}</p>
      <p class="card-text">Grade: {{exp.details}}</p>
      {% endfor %}
      <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
    </div>
 
  
    <div class="container-fluid">
      {% for pro in projects %}
      <div class="card-body" style="background-color:#fff">
        <h5 class="card-title">{{pro.topic}}</h5>
        <p class="text-muted"> {{pro.startingyear}} - {{pro.endingyear}} </p>
        <p class="card-text">{{pro.details}}</p>
        {% endfor %}
        <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
      </div>


</div>
{%endblock content %}