{% extends 'seavs/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
<a href="{%  url 'mycv' person_id 1 %}">use this template 1</a><br>
<a href="{%  url 'export-pdf' person_id 1 %}">Download this template 1</a><br>
<a href="{%  url 'mycv' person_id 2 %}">use this template 2</a><br>
<a href="{%  url 'export-pdf' person_id 2 %}">Download this template 2</a><br>
<a href="{%  url 'mycv' person_id 3 %}">use this template 3</a><br>
<a href="{%  url 'export-pdf' person_id 3 %}">Download this template 3</a><br>
<!-- <a href="{%  url 'mycv' person_id 4 %}">use this template 4</a><br>
<a href="{%  url 'export-pdf' person_id 4 %}">Download this template 4</a><br>
<a href="{%  url 'mycv' person_id 5 %}">use this template 5</a><br>
<a href="{%  url 'export-pdf' person_id 5 %}">Download this template 5</a><br>
<a href="{%  url 'mycv' person_id 6 %}">use this template 6</a><br>
<a href="{%  url 'export-pdf' person_id 6 %}">Download this template 6</a><br>
<a href="{%  url 'mycv' person_id 7 %}">use this template 7</a><br>
<a href="{%  url 'export-pdf' person_id 7 %}">Download this template 7</a><br>
<a href="{%  url 'mycv' person_id 8 %}">use this template 8</a><br>
<a href="{%  url 'export-pdf' person_id 8 %}">Download this template 8</a><br>

</template>-->

</div>
{%endblock content %}
