<!-- Page which takes in Project Details -->


{% extends 'seavs/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid sidetitle">
  <div class="row">
    <div class="col-6 border-right">
      <h1 class="subheading">Add your Project Details</h1>
    </div>
    <div class="col-6">


      <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
            {{ form.topic|as_crispy_field }}
            </div>
        </div>

        <div class="row">
          <div class="col-6">
            {{ form.startingyear|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.endingyear|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{ form.details|as_crispy_field }}
          </div>
        </div>

        <button type="submit" class="titlebutton btn btn-md">Save</button>
    </div>

    </form>
  </div>
  {%endblock content %}
