.container-fluid {
  padding: 2% 10%;
}
#navigationbar {
  background-color: #2ec1ac;
  color: #f8efd4;
  /* color: #40514e */
}
.navbar-brand {
  color: #f8efd4;
}
.nav-link {
  color: #f8efd4;
}

#title {

  background-color: #2ec1ac;
  color: #f8efd4;
}
.heading {
  font-size: 4.5rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-right: 6rem;
}


#features {
  background-color: #f8efd4;
  color: #2ec1ac;
}
.feature-box {
  text-align: center;
  padding: 5%
}

#about-us {
  background-color: #2ec1ac;
  text-align: center;
  color: #f8efd4;
  padding-top: 10px;
}
.carousel-item {
  padding: 3% 15%;
}

#footer{
  background-color: #2ec1ac;
  color: #f8efd4;
  text-align: center;
  padding: 3% 15% 3%;
}

.sidetitle{
  background-color: #2ec1ac;
  color: #f8efd4;

}
.subheading{
  font-size: 3.5rem;
  padding-top: 15%;
  padding-bottom: 1%;
  padding-right: 2%;
}

.button{
  background-color: #f8efd4;
  color: #2ec1ac;

}
