<!-- HTML of RESUME TEMPLATE 2 -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Joe Bloggs - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade" contenteditable="true">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="" alt="Alan Smith" />
		</div>
	{% for person in persons %}
		<div id="name" >
			<h1 class="quickFade delayTwo">{{person.firstname}}{{person.lastname}}</h1>
			<h2 class="quickFade delayThree">{{person.profession}}, {{person.title}}</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
			    <a href="{% url 'export-pdf' %}" class="btn btn-info">Download as PDF</a>
				<li>Email: <a href="mailto:{{email}}" target="_blank">{{person.emailid}}</a></li>
				<li>Mobile: {{person.phoneno}}</li>
				<li>Address: {{person.city}},{{person.state}}
											{{person.pincode}}
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>{{person.profile}}</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		{% endfor %}

		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			{% for experience in experiences %}
			<div class="sectionContent">
				<article>
					<h2>{{experience.post}} at {{experience.company}}</h2>
					<p class="subDetails">{{experience.startingyear}} - {{experience.endingyear}}</p>
					<p>{{experience.details}}</p>
				</article>

			</div>
				{% endfor %}
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			{% for education in educations %}
			<div class="sectionContent">
				<article>
					<h2>{{education.institute}}</h2>
					<p class="subDetails">{{education.course}}</p>
					<p class="subDetails">{{education.startingyear}} - {{education.endingyear}}</p>
					<p>{{education.grade}}</p>
				</article>
			</div>
			{% endfor %}
			<div class="clear"></div>
		</section>

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
